{% extends 'myblog/base.html' %}
{% block title %} 
Create A new Blog Post
{% endblock %} 

{% block content %}

{% if user.is_authenticated %}

<h2 class="text-center alert alert alert-info">Add Blog  Post </h2>

<div class="form-group">
<form method="POST" > 
    {% csrf_token %} 
    {{ form.as_p }}
<br>
<input  class="btn btn-info" type="submit", class ="form-control mt-4", value="Post", class="btn btn-outline-primary">


<script>

    var name="{{user.id}}";
    document.getElementById("auteur").value=name;


</script>
</form>        

</div>
{% endif %}

{% endblock content %}