{% extends 'myblog/base.html' %}

{% block title %} 
{{post.title_tag}}
{% endblock %} 

{% block content %}


<h2 class="text-center alert alert alert-info">Blog Deatil </h2>
<mark>current user : </mark> {{user.id}}
post author : {{post.author.id}}

    <h1>{{ object.title }} </h1>
    <strong> Created By:  </strong> {{ object.author.first_name }}  -
    {{ object.author.last_name }}<br> <strong>Created at : </strong>{{ post.created_at}}
    <br> 
    {% if object.image %} 
        <img src="{{ object.image.url }}" />
    {% endif %}
    <br>
    {{  post.body|slice:":200 "|safe }} <br><br>

    
{% if user.is_authenticated %}
    {% if user.id == post.author.id %}

        <a class="btn btn-primary" href="{% url 'update_post' post.pk %}">update</a> <br><br>

        <a href="{% url 'supp' post.pk %}" button type="button" class="btn btn-danger">Delete</button><a><br>
        <br> 


        <a href= "{% url 'home' %}"> Back </a>
    {% endif %}
{% else %}
 what are you doing here
{% endif %}

{% endblock content %}
