{% extends 'myblog/base.html' %}
{% block title %} 
Update Blog Post
{% endblock %} 

{% block content %}
<h2 class="text-center alert alert alert-info">Update Blog  Post </h2>

{% if user.is_authenticated %}

<div class="form-group">
<form method="POST" > 
    {% csrf_token %} 
    {{ form.as_p }}
<br>
<input  class="btn btn-info" type="submit", class ="form-control mt-4", value="Update", class="btn btn-outline-primary">
</form>        
<div class=text-center>
    <a class="btn btn-primary" href="#"></a>
{% else %}
    you are not allowed here

{% endif %}
</div>
</div>
{% endblock content %}