{% extends 'myblog/base.html' %}
{% block title %} 
Update Profile Page
{% endblock %} 

{% block content %}

{% if user.is_authenticated %}
    {% if user.id == userprofile.user.id %}
        <h2 class="text-center alert alert alert-info">Update Profile Page </h2>

        <div class="form-group">
        <form method="POST"  enctype="multipart/form-data" > 
            {% csrf_token %} 
            {{ form.as_p }}
        <br>
        <input  class="btn btn-info" type="submit", class ="form-control mt-4", value="Update Profile Page", class="btn btn-outline-primary">
        </form>        
        </div>
    {% else %}
        you are not the right person to edit the profile page

    {% endif %}
{% else %}
        you are not allowed here wnd you know that
{% endif %}

{% endblock content %}